StudySauce.xcodeproj/project.xcworkspace/xcuserdata
StudySauce.xcodeproj/xcuserdata/briancullinan.xcuserdatad
StudySauce.xcodeproj/xcuserdata/admin.xcuserdatad
StudySauce.xcodeproj/xcuserdata/stephenhoughton.xcuserdatad
Main.storyboard.orig
.idea
*.class
StudySauce.app
StudySauce/StudySauce.xcworkspace/xcuserdata
